@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #0e1111;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #e6e6e6;
}

.introduction {
    padding: 100px 20px; /* Augmentation du padding pour assurer qu'il ne soit pas caché sous la topbar */
    margin-top: 30px; /* Cela peut être ajusté en fonction de la hauteur de ta topbar */
    text-align: center; /* Pour centrer le texte */
}

.introduction h1 {
    font-size: 36px; /* Augmenter la taille du texte pour que ce soit bien visible */
    margin-bottom: 20px;
}

.introduction p {
    font-size: 18px;
    color: #b3b3b3;
    line-height: 1.8;
    max-width: 800px; /* Limiter la largeur pour une meilleure lisibilité */
    margin: 0 auto; /* Centrer le paragraphe */
}

.introduction h5 {

    font-size: 18px;
    padding: 60px 20px 100px;
    color: #efe7e7;
    line-height: 1.8;
    max-width: 800px; /* Limiter la largeur pour une meilleure lisibilité */
    margin: 0 auto; /* Centrer le paragraphe */
    text-align: start;

}


/* Topbar styles */
.topbar {
    background-color: #1a1463;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
    padding: 10px 0;
    position: fixed; /* This is correct now */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Keep this higher value */
    transition: background-color 0.3s ease;
}
/* Topbar - Site name */
.topbar h4 {
    float: left;
    display: inline-block;
    color: #fedede;
    padding: 14px 30px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
}

/* Topbar - Links */
.topbar a {
    float: right;
    display: inline-block;
    color: #fedede;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.topbar a:hover {
    background-color: #333;
    color: #fedede;
    transform: scale(1.1);
}

.topbar h4:hover {
    color: #ffffff;
}


/* Content Wrapper - Flexbox layout */
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px;
    margin-top: 30px;
}

/* Sections - Left aligned and Right aligned */
.soft_skill, .competence_iut, .competence_ENS {
    background-color: #1d1f27;
    margin-bottom: 20px;
    padding: 20px;
    width: 30%;
    color: #b3b3b3;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.soft_skill {
    order: 1;
}

.competence_iut {
    order: 2;
}

.competence_ENS {
    order: 3;
}

a {
    transition: background-color 0.3s ease;
    padding: 3px;
}
li {
    padding: 3px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

ol {
    padding-left: 20px;
}

/* Text content styling */
h1, p {
    margin: 0 0 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1;
    color: #b3b3b3;
}

.text-block {
    width: 50%;
    margin: 40px auto; /* Centers the block and gives reasonable top margin */
    padding: 20px;
    background-color: #1d1f27;
    color: #e6e6e6;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.6;
}
